:root {
  --color-primary-bg: #e5e5e5;
  --color-secondary-bg: #fefefe;
  --color-black: #000000;
  --color-light-black: #333333;
  --color-accent: #f03c6e;
  --color-border: #efefef;
  --color-white: #ffffff;

  --line-height-lg: 1.43;

  --container-main: 1110px;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
body {
  background-color: var(--color-primary-bg);
  color: var(--color-light-black);
  font-size: 0.875rem;
}
a {
  text-decoration: none;
  color: inherit;
}
.btn {
  border-radius: 40px;
  border: 2px solid var(--color-accent);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 170px;
  min-height: 40px;
  padding: 0.25em 1em;
  background-color: var(--color-secondary-bg);
}
.container {
  width: min(100% - 40px, var(--container-main));
  margin-inline: auto;
}
.navbar-secondary {
  padding: 12px 0;
}
.navbar-secondary__list {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.navbar-secondary__link {
  display: block;
  padding: 5px;
}
.navbar-info {
  background-color: var(--color-secondary-bg);
  border-bottom: 1px solid var(--color-border);
  padding: 20px 0;
}
.navbar-info__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feedback {
  display: flex;
  align-items: center;
  gap: 40px;
}
.feedback__phone {
  font-size: 1rem;
  color: var(--color-black);
}
.navbar-primary {
  background: var(--color-secondary-bg);
}
.navbar-primary__list {
  list-style-type: none;
  margin: 0;
  padding: 25px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  color: var(--color-black);
}
.navbar-primary__link {
  display: block;
  padding: 5px;
  font-size: 1rem;
}
.hero {
  background-color: var(--color-accent);
  color: var(--color-white);
  min-height: 604px;
  padding: 172px 0 213px;
  margin-bottom: 60px;
  background-image: url(../img/hero-origin.min.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.hero__content {
  max-width: 370px;
}
.hero__title {
  font-weight: 700;
  font-size: 48px;
  margin: 0 0 40px;
}
.hero__description {
  line-height: var(--line-height-lg);
  margin: 0 0 44px;
}
.btn--secondary {
  background-color: var(--color-accent);
  border: 2px solid var(--color-white);
}
.offer,
.view {
  padding-bottom: 120px;
}
.offer__title,
.view__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 20px;
}
.wrapper {
  display: flex;
  gap: 25px;
}
.offer__item,
.view__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  background-color: var(--color-white);
}
.offer__image,
.view__image {
  padding-top: 33px;
  padding-bottom: 14px;
}
.offer__description,
.view__description {
  max-width: 195px;
  line-height: var(--line-height-lg);
  text-align: center;
  padding-bottom: 14px;
}
.offer__price,
.view__price {
  max-width: 195px;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.05em;
  padding-bottom: 14px;
}
.offer__actions,
.view__actions {
  padding-bottom: 17px;
}
.btn--ternary,
.btn--fifth {
  background-color: var(--color-accent);
  color: var(--color-white);
  min-width: 130px;
  min-height: 35px;
}
.sale {
  padding-bottom: 100px;
}
.sale-wrapper {
  display: flex;
  gap: 30px;
}
.sale__promotion {
  color: var(--color-white);
  background-color: var(--color-accent);
  flex-grow: 1;
  max-width: 540px;
  background-image: url(../img/envelope.svg);
  background-repeat: no-repeat;
  background-position: 85% 46%;
}
.sale__shop {
  background-image: url(../img/x36\ \ 8.svg);
}
.sale__title {
  padding-top: 18px;
  margin-left: 40px;
  max-width: 250px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.shop__description {
  max-width: 160px;
}
.sale__description {
  margin-left: 40px;
  padding-bottom: 29px;
  line-height: var(--line-height-lg);
  font-weight: 400;
  font-size: 14px;
  max-width: 250px;
}
.shop__description {
  max-width: 160px;
}
.sale__email {
  padding-left: 40px;
  padding-bottom: 35px;
}
.btn--fourth {
  background-color: var(--color-accent);
  border: 2px solid var(--color-white);
  border-radius: 30px;
  min-width: 170px;
}
.sale__button {
  padding-left: 40px;
  padding-bottom: 35px;
  background-color: var(--color-accent);
  display: inline-block;
}
.sale__email-button {
  background-color: var(--color-white);
  min-width: 230px;
}
.blocklogo {
  padding-bottom: 60px;
}
.blocklogo-wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--color-white);
  min-height: 360px;
}
.blocklogo__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 4);
  min-height: calc(100% / 3);
  border-bottom: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
}
.border-none {
  border-right: none;
}
